.document-form {
    display: flex;
}

.document-content {
    display: flex;
    gap: 10px;
}

.document-content .input-container {
    flex: 1;
}

.document-content .button-container {
    align-items: center;
}

.bottom-buttons {
    padding: 5px 0;
}

.skeletal-list-root {
    padding: 0;
    margin: 0;
}

.skeletal-container {
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

.separator {
    flex: 1;
    border-bottom: 1px dotted black;
}

.document-toc ul {
    list-style: none;
    margin: 0;
}
